 ul li a{
	color: black;
	/*padding: 10px;*/
}
li{
	padding: 5px;
}
.content{
	/*background-color: #f2f2f2;*/
	text-align: center;

}
.image{
	width: 100%;
}
h4{
  padding:10px;
}


.banner{
	background-color:white;
	 height: 450px;
	 width: 100%;
	 /*display: inline;*/
	/*background-image: url(../images/banner-img.jpg);
	 background-size: cover;
	 padding-top: 150px;
	 background-position: center;*/


}
h3{
	/*display: inline;*/
	text-align: center;
	/*padding: auto;*/
}
/*h1{
	display: inline-block;
	background-color: yellow;
	text-align: center;
	/*padding: auto;*/
	/*padding-left: 300px;*/
/*}*/
.medium{
	height: 50px;
	width: 285px;
	background-color: orange;
	margin: auto;
	color: white;
	/*padding: 20px 0px;*/
}
.small{
	padding-top: 10px;
	color: black;
	text-align: center;
}
/*.artical{
	background-color: yellow;
}
*/.shead{
	padding-top: 60px;
	color: #c1eafd;
	font-size: 20px;
}
.heading{
	font-size: 30px;

}
.desc{
	padding-top: 10px;
	font-family: serif;
	padding-right: 80px;

}
.artical{
	/*display: inline;*/
	width: 100%;
	/*margin: 20px;*/
	/*margin-left: 60px;*/
	padding: 30px 0px;
	/*margin: 20px;*/


/*margin: auto;*/
}
.detail{
	/*height: 350px;*/
	/*margin-top: 50px;*/
	/*width: 500px;*/
	/*margin-left: 50px;*/
	display: flex;
	width:100%; 
	/*margin: 50px;*/
	background-color: white;
	padding: 70px 0px;
}

.works{
	width: 100%;
	background-color: #1b2429;
	/*min-height: 550px;*/

}
.top{
	/*height: 150px;*/
	width: 100%;
	background-color: #1b2429;
	color: white;
	padding: 20px 0px;
}
.pics{
	/*height: 400px;*/
	width: 100%;
	background-color: #1b2429;
	border: 1px solid black;
	/*margin-bottom: 20px;*/


}
.heads{
	/*padding: 10px;*/
	display: block-inline;
	font-weight: bolder;
	padding-top: 30px;
}
.content2{
	background-color: white;
	/*height: 300px;*/
	width: 100%;
	/*padding: 20px 0px;*/
	margin-bottom:100px ;
}
.content3{
	background-color: white;
	/*height: 40px;*/
	width: 100%;
	/*margin: 5px;*/

}
.btns{
	text-align: center;
	font-size: 20px;
	/*padding-top: 30px;*/
	font-weight: bolder;
	padding: 5px;
}
.section4{
	/*height: 800px;*/
	width: 100%;
	background-color: white;
	/*padding: 50px auto;*/
	margin-bottom: 50px;
}
.sectionHead{
	/*height: 150px;*/
	width: 100%;
	background-color: white;
	padding: 20px 0px;
	/*margin-bottom: 50px;*/

}
.step1{
	/*height: 250px;*/
	width: 100%;
	background-color: white;
	padding: 0px 0px;
	margin-top: 10px;
}
.step2{
	/*height: 250px;*/
	width: 100%;
	background-color: white;
	margin-top: 20px;
	padding: 10px 0px;
}
.lastRow{
	width: 100%;
	background-color: #1b2429;
	height: 300px;
}

.headtop{
	padding-top:60px;
	color: white;
	text-align: center;
}
.headbottom{
 color: white;
 text-align: center;
}
.pic3{

}
.lastcontent{
	background-color: #1b2429;
}
.last{
	background-color: black;
	text-align: center;
	color: white;
}
.laste{
	background-color: black;
}
